<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <!--
  <smartcard>
    <certificate subject="E=cej@nightwolf.org.uk">
      <action target="BitLocker">
        <add name="target" value="f:" />
      </action>
      <action target="LockWorkstation" />
    <action target="PowershellScript">
      <add name="script" value="c:\temp\test.ps1" />
    </action>
    </certificate>
  </smartcard>
-->
  </configuration>
