<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="smartcard" type="Nightwolf.SmartTrigger.Config.Smartcard, Nightwolf.SmartTrigger"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>

  <smartcard>
    <certificates>
      <certificate subject="E=cej@nightwolf.org.uk">
        <actions>
          <action on="insert,remove" target="BitLocker" requirepin="true">
            <parameters>
              <add name="target" value="f:" />
            </parameters>
          </action>
          <action on="remove" target="LockWorkstation" />
          <action on="insert" target="PowershellScript" requirepin="true">
            <parameters>
              <add name="script" value="c:\temp\test.ps1" />
            </parameters>
          </action>
        </actions>
      </certificate>
    </certificates>
  </smartcard>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogFile="nlog.ERRORS.txt" internalLogLevel="Error">

    <!-- 
          See http://nlog-project.org/wiki/Configuration_file 
          for information on customizing logging rules and outputs.
        -->
    <targets>
      <target xsi:type="Debugger"
              name="debug"
              layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
      <target xsi:type="File" 
              name="log" 
              keepFileOpen="true"
              fileName="${basedir}/log_${date:format=yyyyMMdd}.txt"
              layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
      <target name="log_errors_memory" 
              xsi:type="Memory"
              layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
      <target name="log_all_memory" 
              xsi:type="Memory"
              layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Trace" writeTo="debug" />
      <logger name="*" minlevel="Trace" writeTo="log_all_memory" />
      <logger name="*" minlevel="Error" writeTo="log_errors_memory" />
    </rules>
  </nlog>

  </configuration>
